Q1. How do you comment code in Python? What are the different types of comments?

Ans. Comments is a feature in python which helps coder or an another 3rd
person to understand the code easily.

There are  2 types of comment in python

1. Single line comment
#This is an example of single liner comment in which we use '#' this symbol
for short comments.

2. Multi line commment

"""this is an example of multi line comment in which we use quotation mark 3 times."""

Q2. What are variables in Python? How do you declare and assign values to variables?

In [2]:
'''Variable is a type of thing in python in which we can assign a value
and can use it anytime throughout the code.'''

#Example:

pw_skills = 15
print(pw_skills)
#output = 15

#In the above code pw_skills is a variable and we assigned 15 to it.

15

Q3. How do you convert one data type to another in Python?

In [6]:
'''Python can convert one data type to another data type using built-in 
functions'''

#example
a = 15
a = bool(15)
print(a)

#output = True

True

Q4. How do you write and execute a Python script from the command line?

You can write and execute a Python script from the command line by using 
these steps

1. Open a text editor (Vs code, Pycharm etc) and create a file using .py in title.
2. Write a correct Python code and Run it by using shortcut key or run button.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [10]:
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:3]
print(sub_list)

#output = [2,3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [12]:
'''
Complex number can be written as a + bj in which 'a' is real part 
'b' is an imaginary part and 'j' is imaginary part.
'''
#Example of complex number
I = 4 + 6j
print (I)
# output = 4 + 6j

(4+6j)

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [15]:
age = 90
print(age)
#In the above code "age" is variable and "25" is numeric value

90

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [16]:
price = 9.99
print(price)
#The data type of '9.99' is float.

9.99

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [20]:
name = "prakhar dixit"
print(name)

prakhar dixit

Q10. Given the string "Hello, World!", extract the substring "World".

In [27]:
#given string
given_string = "Hello, World"

#extract substring through slicing
sub_string = given_string[7:12]

print(sub_string)

World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [28]:
is_student = True

if is_student:
    print("You are currently a student.")
else:
    print("You are not currently a student.")

You are currently a student.